<div class="container mt-4">
  <h1 class="text-center">Add a new list</h1>
  <div class="card p-4">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
